<%= render @user %>

<div>
  <%= link_to "Edit this user", edit_user_path(@user), class:"btn btn-outline-success" %> 
  <%= link_to "Back to users", users_path, class: "btn btn-outline-info"%>
  <br>
  <br>
  <%= button_to "Destroy this user", @user, class:"btn btn-outline-danger", method: :delete %>
</div>
