<h1>Muahahhahahahahaha</h1>
<h2>Meo meo meoooooooooo</h2>

<% if current_client%>
    <p>Current client email: <%= current_client.email %></p>
    <p>Current client status: <%= current_client.admin %></p>
    <% if current_client.admin? %>
    <p>You are an admin.</p>
    <% else %>
    <p>You are not an admin.</p>
    <% end %>
<% end %>