<h1>Muahahahahahaa!</h1>

<p>
  Muahahahahahaa hoho hehe ahihihihih huehuehue 
</p>

<p>
  Meo meo meo meo meo meo meo, meo meo meo meo meo, meo meo, meoeeeeeeeee
</p>

<p>
  <%= link_to '---> Log in here', @url %>
  <br>
  Email: <%= @client.email %>
  <br>
  Default password: 123456
</p>

<p>
  Arigathanks
  <br>
  Muahahhahahahahaha
</p>